*{
    background-color: green;
    color: blue;
    font-size: 60px;

.img {
    margin-top: 10px;
}

.img2 {
    margin-top: 10px;
}

.img3 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}